* {
    box-sizing:border-box;
}
/* Defining values for website */
:root{
    --hue-neutral:200;
    --hue-wrong:0;
    --hue-correct:145;

}

/* Header Start */

header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #2196f3;
    align-items: center;
}
.score{
    padding-left: 20px;
    position: absolute;
    left: 0;
}
.timer{
    padding-right: 20px;
    padding-bottom: 20px;
    position: absolute;
    right: 0;    
}

/* Header End */

/* Main content Start */
main{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

main.correct{
    --hue: var(--hue-correct);
}

main.wrong{
    --hue: var(--hue-wrong);
}
/* Text About the game */
.titleMain{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
#endGame{
    padding: 10px;
}
#result-text{
    /* position:absolute; */
    top: 0;
    left:320px;
}


/* Main content END */

/* Container setting (Question, Answer and Start Game) */

.container{
    /* position: relative; */
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: black;
}

/* when pressed correct answer = button turns green */
.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

/* when pressed wrong answer = button turns red */
.btn.wrong{
    --hue: var(--hue-wrong);
}

/* start and next buttons */

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

/* container/flex box of the next and start button */
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this hides content */
.hide{
    display: none;
}

/* Page Score Variables */

.text-center{
    text-align: center;
}
.extra-padding{
    padding-bottom: 10px;
}
.min-h{
    min-height: 600px;
    /* width: 800px; */
    max-width: 460px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
#done{
    position: absolute;
    left: 20px;
    bottom: 18px;
}
.score-boxes{
    width: 200px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 5px;
}
#score-container{
    display: flex;
    float:left;
    padding: 10px;
    align-items: center;
    flex-flow: wrap;
}
.score-title{
    text-align: center;
}
@media only screen and (max-width: 425px) {
    .header-text{
        display: none;
    }
    .score-boxes{
        width: 150px;
    }
    .extra-padding{
        display: none;
    }
    #home-btn{
        position: absolute;
        right: 20px;
        bottom: 5px;
    }
    #done{
        left: 20px;
        bottom: 5px;
    }
    #score-container{
        padding-left: 45px;
    }
    
}
@media only screen and (max-width: 375px) {
    .header-text{
        display: none;
    }
    .score-boxes{
        width: 120px;
    }
    .extra-padding{
        display: none;
    }
    #home-btn{
        position: absolute;
        right: 20px;
        bottom: 5px;
    }
    #done{
        left: 20px;
        bottom: 5px;
    }
    #score-container{
        padding-left: 45px;
    }
    
}
@media only screen and (max-width: 320px) {
    .header-text{
        display: none;
    }
    .score-boxes{
        width: 100px;
    }
    .extra-padding{
        display: none;
    }
    #home-btn{
        position: absolute;
        right: 20px;
        bottom: 5px;
    }
    #done{
        left: 20px;
        bottom: 5px;
    }
    #score-container{
        padding-left: 45px;
    }
  }